<ps-header></ps-header>
<div class="user-register-form">
    <mat-form-field appearance="outline">
        <mat-label>Nome Completo</mat-label>
        <input matInput placeholder="Placeholder">
        <!-- <mat-hint>Hint</mat-hint> -->
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>CPF</mat-label>
        <input matInput placeholder="Placeholder">
        <!-- <mat-hint>Hint</mat-hint> -->
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Telefone</mat-label>
        <input matInput placeholder="Placeholder">
        <!-- <mat-hint>Hint</mat-hint> -->
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Placeholder">
        <!-- <mat-hint>Hint</mat-hint> -->
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Endereço Completo</mat-label>
        <input matInput placeholder="Placeholder">
        <!-- <mat-hint>Hint</mat-hint> -->
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>CRM-V</mat-label>
        <input matInput placeholder="Placeholder">
        <!-- <mat-hint>Hint</mat-hint> -->
    </mat-form-field>
        <mat-form-field appearance="outline">
        <mat-label>Senha</mat-label>
        <input matInput placeholder="Placeholder">
        <!-- <mat-hint>Hint</mat-hint> -->
    </mat-form-field>
</div>