.ps-header{

    >.navbar{
            
        >.container-fluid{
            >.collapse{

                >.navbar-nav{
                    gap: 10px;
                    
                    >li{
                        >a{
                            color: var(--ps-color-neutral-dark);
                            font-size: 24px;
                        }

                        >a:hover{
                            color: var(--ps-color-primary);
                            border-bottom: 3px solid var(--ps-color-primary);
                        }
                    }
                }
            }
        }
    }
}