:root{
    --ps-color-primary: #76bdde;        
    --ps-color-secondary: #A7E9AF;       
    --ps-color-accent: #FFB5A7;          
    --ps-color-neutral-light: #FFF7ED;   
    --ps-color-neutral-dark: #566076;   
    --ps-color-gray-dark: #191B1C;
    --ps-color-gray-dark-light: #2C2F31;
    --ps-color-gray-lighter: #fafafa;
    --ps-color-gray-light: #d1d1d1;
    --ps-color-gray: #a8a29e;
    --ps-color-dark: #161021;
    --ps-color-danger: #f51e1e;
    --ps-color-alert: #eded34;
}